@font-face {
    font-family: Nunito;
    src: url("./Nunito/Nunito-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
       }
       html,
       body,
       h1,
       h2,
       h3,
       h4,
       h5,
       h6 {
           font-family: var(--MainFont), sans-serif;
           font-weight: 400;
       }
    
       h1 {
           font-family: var(--MainFont), sans-serif;
           font-weight: 450;
           color: rgb(255, 255, 255);
           background-color: #3a73a9;
           margin: 2%;
           padding: 0%;
           border: 10px;
           border-color: black;
           align-content: center;
           align-items: center;
           text-align: center;
       }
       
       h6.subTitle {
           margin: 0px;
           padding: 0%;
       }
       
       hr {
           color: red;
       }
       

        :root{
        --MainFont: 'Nunito';
        --MainColor: #008a00;
        --SecendColor: #21b421  ;
        --BgColor:  #cfddcf;
        --CardColor:  #f3ffea;
        --MyTextColor: #fff;
        --MyPadding: 10px;
        }

        .AryaBG{
            background-color: var(--BgColor);
        }

       .myName {
        font-family: var(--MainFont), sans-serif;
        font-weight: 550;
        color: rgb(255, 255, 255);
        background-color: var(--MainColor);
        margin: 1%;
        padding: 0%;
        border: 10px;
        border-color: black;
        margin-left: 0.5%; 
        margin-right: 0.5%
        }


        .AryaCard {
            background-color: var(--CardColor);
        }


        .Title {
            color: var(--MainColor)	;
            margin-left: 1.5%;
            font-weight: 800;
            font-size: 35px;

        }
        
        .subTitle {
            color: rgb(61, 61, 61);
        }

       .ii {
           color: var(--SecendColor);
       }
       

       .TA-CName {
           color: rgb(63, 63, 63);
           font-size: 17px;
       }
       
       .era {
           color: var(--SecendColor)	;
           text-shadow: 0.3px 0.3px 0 rgb(83, 0, 0);
           padding-left: 2%;
       }
       

       
       .clhr {
           color: red;
       }
       
       .pBar {
        color: var(--SecendColor);
    }
       
       .myImage {
           width: 90%;
           padding: 0%;
           margin-bottom: 0%;
       }
       


       
       .Refh4 {
           margin-top: 0%;
           margin-bottom: 0%;
           padding-top: 0%;
           padding-bottom: 0%;
       }
    
       
    
    
       
       .SM {
           size: 500px;
       }
       
       .CV {
           color: rgb(255, 255, 255);
           background-color: var(--SecendColor);
           margin: 0%;
           padding: 0%;
           border: 0ch;
       }
       
       .lang {
           margin: 10px;
           padding: 10px;
       }
       
       .icon1 {
           width: 60px;
           height: 60px;
           padding: 0%;
           margin-left: 2%;
       }
       
    
       
       .icons {}
       
       .page {
           margin: 40px;
       }

       .LeftCont {
           padding-top: 1px;
       }
       
       .z0-1 {
           margin-left: 10px;
       }
       
       .TEItem {
           margin: 0%;
           padding-left: 2%;
       }
       
       .Title .footer .myName .CV .era {
           background-color: #0056c7;
           color: #009fc7;
    
       }
       
       .github {
        color: black;
    }
    
    .instagram {
        color: rgb(255, 0, 98);
    }
    
    .telegram {
        color: rgb(248, 248, 248)
    }
    
    .linkedin {
        color: rgb(30, 43, 228)
    }
    
    .footer {
        background-color: var(--MainColor);
    }
    
    .twitter {
        color: royalblue;
    }
    
    