body {
    font-family: var(--MainFont);
    background-color: var(--BgColor);
    padding: var(--MyPadding);
    color: var(--MyTextColor);
}

button {
    background-color: var(--MainColor);
    color: var(--MyTextColor);
    border: none;
    cursor: pointer;}

    :root{
        --MainFont: 'Nunito';
        --MainColor: #0c7b00;
        --SecendColor: #1bb600  ;
        --BgColor:  #dfeadf;
        --CardColor:  #f5fdef;
        --MyTextColor: #ffffff;
        --MyPadding: 10px;
        --TextColor: #343434;
        --T: #212420;


        }

@font-face {
    font-family: Nunito;
    src: url("./Nunito/Nunito-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
       html,
       body{color: var(--TextColor);
       }
       h1,
       h2,
       h3,
       h4,
       h5,
       h6 {
           font-family: var(--MainFont), sans-serif;
           font-weight: 400;
           color:  var(--TextColor);

       }
    
       h1 {
           font-family: var(--MainFont), sans-serif;
           font-weight: 450;
           color: rgb(255, 255, 255);
           background-color: #3a73a9;
           margin: 2%;
           padding: 0%;
           border: 10px;
           border-color: black;
           align-content: center;
           align-items: center;
           text-align: center;
       }
       
       h6.subTitle {
           margin: 0px;
           padding: 0%;
       }
       
       hr {
           color: red;
       }
       



        /* :root{
            --MainFont: 'Nunito';
            --MainColor: #0c7b00;
            --SecendColor: #1bb600  ;
            --BgColor:  #4a4a4a;
            --CardColor:  #252525;
            --MyTextColor: #fff;
            --MyPadding: 10px;
            --TextColor: #343434;
            } */
            
        .AryaBG{
            background-color: var(--BgColor);
        }

       .myName {
        font-family: var(--MainFont), sans-serif;
        font-weight: 550;
        color: rgb(255, 255, 255);
        background-color: var(--MainColor);
        margin: 1%;
        padding: 0%;
        border: 1px;
        border-color: black;
        margin-left: 0.5%; 
        margin-right: 0.5%
        }


        .AryaCard {
            background-color: var(--CardColor);
        }


        .Title {
            color: var(--MainColor)	;
            margin-left: 1.5%;
            font-weight: 800;
            font-size: 35px;

        }
        
        .subTitle {
            color: var(--TextColor);
        }

       .ii {
           color: var(--SecendColor);
       }
       

       .TA-CName {
           color: var(--TextColor);
           font-size: 17px;
       }
       
       .era {
           color: var(--SecendColor)	;
           text-shadow: 0.3px 0.3px 0 rgb(83, 0, 0);
           padding-left: 2%;
       }
       

       
       .clhr {
           color: red;
       }
       
       .pBar {
        color: var(--SecendColor);
    }
       
       .myImage {
           width: 90%;
           padding: 0%;
           margin-bottom: 0%;
       }
       


       
       .Refh4 {
           margin-top: 0%;
           margin-bottom: 0%;
           padding-top: 0%;
           padding-bottom: 0%;
       }
    
       
    
    
       
       .SM {
           size: 500px;
       }
       
       .CV {
           color: rgb(255, 255, 255);
           background-color: var(--SecendColor);
           margin: 0%;
           padding: 0%;
           border: 0ch;
       }
       
       .lang {
           margin: 10px;
           padding: 10px;
       }
       
       .icon1 {
           width: 60px;
           height: 60px;
           padding: 0%;
           margin-left: 2%;
       }
       
    
       
       .icons {}
       
       .page {
           margin: 40px;
       }

       .LeftCont {
           padding-top: 1px;
       }
       
       .z0-1 {
           margin-left: 10px;
       }
       
       .TEItem {
           margin: 0%;
           padding-left: 2%;
       }
       
       .Title .footer .myName .CV .era {
           background-color: #0056c7;
           color: #009fc7;
    
       }
       
       .github {
        color: black;
    }
    
    .instagram {
        color: rgb(255, 0, 98);
    }
    
    .telegram {
        color: rgb(248, 248, 248)
    }
    
    .linkedin {
        color: rgb(30, 43, 228)
    }
    
    .footer {
        background-color: var(--MainColor);
    }
    
    .twitter {
        color: royalblue;
    }
    

    @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

    * {box-sizing: border-box;}
    
    body {
 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      min-height: 100vh;
      margin: 0;
      transition: background 0.2s linear;
    }
    
    body.dark {background-color: #292c35;} /* #9b59b6 */
    
    body.dark h1, body.dark .support a {color: #fff;}
    
    .checkbox {
      opacity: 0;
      position: absolute;
    }
    
    .checkbox-label {
      background-color: #111;
      width: 50px;
      height: 26px;
      border-radius: 50px;
      position: relative;
      padding: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .fa-moon {color: #f1c40f;}
    
    .fa-sun {color: #f39c12;}
    
    .checkbox-label .ball {
      background-color: #fff;
      width: 22px;
      height: 22px;
      position: absolute;
      left: 2px;
      top: 2px;
      border-radius: 50%;
      transition: transform 0.2s linear;
    }
    
    .checkbox:checked + .checkbox-label .ball {
      transform: translateX(24px);
    }
    
    
    
    
    
    
